
/*========================================================================
   Component: Base
========================================================================== */

body {
    background-color: #f4f4f4;
}

/*========================================================================
   Header
========================================================================== */

.tm-top-wrap {
    background-color: #ffdb00;
    height: 180px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.tm-top-wrap > .uk-container { height: 100%; padding-bottom: 80px; }

/*========================================================================
   Content
========================================================================== */

.tm-content-wrap {
    margin-top: -80px;
    x-margin-bottom: -40px;
}
    .tm-content-wrap > .uk-panel { min-height: 600px; }
.tm-left-side {
    padding-right: 0;
}
.tm-panel-control {
    padding: 10px;
    border: none;
    background-color: rgba(20, 181, 234, 0.1);
}

.tm-data-empty {
    text-align: center;
}
.tm-data-empty:before {
    font-family: FontAwesome;
    content: "\f014";
    display: block;
    font-size: 40px;
    line-height: 44px;
}

.uk-placeholder .uk-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    opacity: 0.6;
}
.uk-table {
    font-size: 13px;
}

/*========================================================================
   Footer
========================================================================== */

.tm-footer-wrap {
    x-background-color: #00A5F0;
    x-border-top: 3px solid rgba(0, 0, 0, 0.1);
    height: 140px;
}
    .tm-footer-wrap .uk-container {
        height: 100%;
        x-padding-top: 40px;
    }
        .tm-footer-wrap .uk-subnav {
            margin-top: 15px;
            margin-bottom: 15px;
        }
            .tm-footer-wrap .uk-subnav li {}
                .tm-footer-wrap .uk-subnav li a {
                    font-size: 13px;
                    x-color: #ebebeb;
                }
.tm-logo-bottom {
    display: inline-block;
    max-width: 180px;
}