/*! UIkit 2.16.0 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License | Components:
    - Dotnav
    - Slidenav
    - Form advanced
    - Form file
    - Form password
    - Form select
    - Placeholder
    - Autocomplete
    - Datepicker
    - Nestable
    - Notify
    - Search
    - Sortable
    - Sticky
    - Upload
    - Flex
    - Cover
    - Accordion
    - Caption
    - Slideshow
*/

/* ========================================================================
   Component: Dotnav
 ========================================================================== */
/*
 * 1. Remove default list style
 * 2. Remove whitespace between child elements when using `inline-block`
 */
.uk-dotnav {
  /* 1 */
  padding: 0;
  list-style: none;
  /* 2 */
  font-size: 0.001px;
}
/* Items
 ========================================================================== */
/*
 * 1. Reset whitespace hack
 * 2. Remove the gap at the bottom of it container
 */
.uk-dotnav > li {
  display: inline-block;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  vertical-align: top;
}
.uk-dotnav > li:nth-child(n+2) {
  margin-left: 15px;
}
/*
 * Items
 * 1. Remove the gap at the bottom of it container
 * 2. Hide text if present
 */
.uk-dotnav > li > a {
  display: inline-block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(50, 50, 50, 0.1);
  /* 1 */
  vertical-align: top;
  /* 2 */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-dotnav > li > a:hover,
.uk-dotnav > li > a:focus {
  background: rgba(50, 50, 50, 0.4);
  /* 2 */
  outline: none;
}
/* OnClick */
.uk-dotnav > li > a:active {
  background: rgba(50, 50, 50, 0.6);
}
/* Active */
.uk-dotnav > li.uk-active > a {
  background: rgba(50, 50, 50, 0.4);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/* Modifier: 'dotnav-vertical'
 ========================================================================== */
.uk-dotnav-vertical > li {
  display: block;
}
.uk-dotnav-vertical > li:nth-child(n+2) {
  margin-left: 0;
  margin-top: 15px;
}

/* ========================================================================
   Component: Form advanced
   Note: Only works in Webkit at the moment
 ========================================================================== */
/*
 * 1. Style
 * 2. Makes box more robust so it clips the child element
 * 3. Vertical alignment
 * 4. Remove default style
 * 5. Fix black background on iOS
 */
.uk-form input[type="radio"],
.uk-form input[type="checkbox"] {
  /* 1 */
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaaaaa;
  /* 2 */
  overflow: hidden;
  /* 3 */
  margin-top: -1px;
  vertical-align: middle;
  /* 4 */
  -webkit-appearance: none;
  outline: 0;
  /* 5 */
  background: transparent;
}
/* Radio */
.uk-form input[type="radio"] {
  border-radius: 50%;
}
/*
 * Checked
 */
.uk-form input[type=checkbox]:checked:before,
.uk-form input[type=radio]:checked:before {
  display: block;
}
/* Radio */
.uk-form input[type=radio]:checked:before {
  content: '';
  width: 8px;
  height: 8px;
  margin: 2px auto 0;
  border-radius: 50%;
  background: #00a8e6;
}
/* Checkbox */
.uk-form input[type=checkbox]:checked:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 12px;
  color: #00a8e6;
}
/*
 * Disabled
 */
.uk-form input[type=radio]:disabled,
.uk-form input[type=checkbox]:disabled {
  border-color: #dddddd;
}
.uk-form input[type=radio]:disabled:checked:before {
  background-color: #aaaaaa;
}
.uk-form input[type=checkbox]:disabled:checked:before {
  color: #aaaaaa;
}
/* ========================================================================
   Component: Form file
 ========================================================================== */

.uk-form-file {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-top: -2px;
}
/*
 * 1. Required for Firefox
 * 2. Expand height and required for the cursor
 */
.uk-form-file input[type="file"] {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  /* 1 */
  left: 0;
  /* 2 */
  font-size: 500px;
}
/* ========================================================================
   Component: Form password
 ========================================================================== */
/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Prevent `inline-block` consequences
 */
.uk-form-password {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
}
.uk-form-password-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    font-size: 16px;
    line-height: 16px;
    color: #888;
}
.uk-form-password-toggle:before {
    font-family: 'FontAwesome';
    content: "\f070";
}
.uk-form-password-toggle.uk-active:before {
    content: "\f06e";
}
.uk-form-password-toggle:hover {
  color: #999999;
  text-decoration: none;
}
.uk-form-password > input {
  padding-right: 50px !important;
}
/* ========================================================================
   Component: Form select
 ========================================================================== */
/*
 * 1. Behave like form elements
 * 2. Create position context for dropdowns
 * 3. Clip content
 */
.uk-form-select {
  /* 1 */
  display: inline-block;
  vertical-align: middle;
  /* 2 */
  position: relative;
  /* 3 */
  overflow: hidden;
}
/*
 * 1. Required for Firefox
 * 1. Required for Webkit to make `height` work
 */
.uk-form-select select {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  /* 1 */
  left: 0;
  /* 2 */
  -webkit-appearance: none;
}
/* ========================================================================
   Component: Placeholder
 ========================================================================== */
.uk-placeholder {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    background: #fafafa;
    color: #444444;
    text-shadow: 1px 1px 3px #fff;
    position: relative;
}
/*
 * Add margin if adjacent element
 */
* + .uk-placeholder {
    margin-top: 20px;
}
/*
 * Remove margin from the last-child
 */
.uk-placeholder > :last-child {
  margin-bottom: 0;
}
/* Modifier: `uk-placeholder-large`
 ========================================================================== */
.uk-placeholder-large {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* ========================================================================
   Component: Autocomplete
 ========================================================================== */
/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Prevent `inline-block` consequences
 * 4. Remove the gap between the container and its child element
 */
.uk-autocomplete {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}
/* Nav modifier `uk-nav-autocomplete`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-autocomplete > li > a {
  color: #444444;
}
/*
 * Active
 * 1. Remove default focus style
 */
.uk-nav-autocomplete > li.uk-active > a {
  background: #009dd8;
  color: #ffffff;
  /* 1 */
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-autocomplete .uk-nav-header {
  color: #999999;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-autocomplete .uk-nav-divider {
  border-top: 1px solid #dddddd;
}
/* ========================================================================
   Component: Datepicker
 ========================================================================== */
/*
 * 1. Highest z-index
 * 2. Reset dropdown width
 * 3. Set animation
 * 4. Needed for scale animation
 */
.uk-datepicker {
  /* 1 */
  z-index: 1050;
  /* 2 */
  width: auto;
  /* 3 */
  -webkit-animation: uk-fade 0.2s ease-in-out;
  animation: uk-fade 0.2s ease-in-out;
  /* 4 */
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* Sub-object: `uk-datepicker-nav`
========================================================================== */
.uk-datepicker-nav {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 20px;
}
/*
 * Micro clearfix
 */
.uk-datepicker-nav:before,
.uk-datepicker-nav:after {
  content: "";
  display: table;
}
.uk-datepicker-nav:after {
  clear: both;
}
/*
 * Previous and next navigation
 */
.uk-datepicker-nav a {
  color: #444444;
  text-decoration: none;
}
.uk-datepicker-nav a:hover {
  color: #444444;
}
.uk-datepicker-previous {
  float: left;
}
.uk-datepicker-next {
  float: right;
}
.uk-datepicker-previous:after,
.uk-datepicker-next:after {
  width: 20px;
  font-family: FontAwesome;
}
.uk-datepicker-previous:after {
  content: "\f053";
}
.uk-datepicker-next:after {
  content: "\f054";
}
/* Sub-object: `uk-datepicker-heading`
========================================================================== */
/* Sub-object: `uk-datepicker-table`
========================================================================== */
/* Block element behavior */
.uk-datepicker-table {
  width: 100%;
}
.uk-datepicker-table th,
.uk-datepicker-table td {
  padding: 2px;
}
.uk-datepicker-table th {
  font-size: 12px;
}
/*
 * Item
 */
.uk-datepicker-table a {
  display: block;
  width: 26px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-origin: border-box;
}
/*
 * Sub-object: `uk-datepicker-table-muted`
 */
a.uk-datepicker-table-muted {
  color: #999999;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-datepicker-table a:hover,
.uk-datepicker-table a:focus {
  background-color: #fafafa;
  color: #444444;
  /* 2 */
  outline: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 #ffffff;
}
/* OnClick */
.uk-datepicker-table a:active {
  background-color: #f5f5f5;
  color: #444444;
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.3);
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*
 * Active
 */
.uk-datepicker-table a.uk-active {
  background: #009dd8;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  background-origin: border-box;
  background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
  background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* ========================================================================
   Component: Nestable
 ========================================================================== */
 
.uk-nestable {
    padding: 0;
    list-style: none;
}
    .uk-nestable a i {
        font-size: 14px;
        color: #5f5f5f;
    }
/* Sub-object `uk-nestable-list`
 ========================================================================== */
.uk-nestable-list {
  margin: 0;
  padding-left: 40px;
  list-style: none;
}
/* Sub-modifier `uk-nestable-list-dragged`
 ========================================================================== */
.uk-nestable-list-dragged {
  position: absolute;
  z-index: 1050;
  padding-left: 0;
  pointer-events: none;
}
/* Sub-object `uk-nestable-item`
 ========================================================================== */
.uk-nestable-item {
    margin-bottom: 10px;
    padding: 5px;
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #ffffff, #eee);
    background-image: linear-gradient(to bottom, #ffffff, #eee);
    text-shadow: 0 1px 0 #ffffff;
}
.uk-nestable-item:hover {
    border: 1px solid #ccc;
}
/* Sub-object `uk-nestable-placeholder`
 * The placeholder which marks the drop area
 ========================================================================== */
.uk-nestable-placeholder {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px dashed #dddddd;
}
/* Sub-object `uk-nestable-empty`
 * The style of an empty list
 ========================================================================== */
.uk-nestable-empty {
  min-height: 40px;
}
/* Sub-object `uk-nestable-handle`
 ========================================================================== */
/*
 * 1. Deactivate browser touch actions in IE11
 */
.uk-nestable-handle {
    display: inline-block;
    font-size: 18px;
    color: #ddd;
    float: left;
    margin-right: 10px;
    /* 1 */
    touch-action: none;
}
/* Hover */
.uk-nestable-handle:hover {
  cursor: move;
}
/* Icon */
.uk-nestable-handle:after {
  content: "\f0c9";
  font-family: FontAwesome;
}
/* Sub-object `uk-nestable-moving`
 ========================================================================== */
.uk-nestable-moving,
.uk-nestable-moving * {
  cursor: move;
}
/* Sub-object `[data-action='toggle']`
 ========================================================================== */
/* Hidden by default */
[data-nestable-action='toggle'] {
    display: inline-block;
    color: #999999;
    visibility: hidden;
    float: left;
    margin-right: 8px;
}
/* Hover */
[data-nestable-action='toggle']:hover {
  color: #444444;
  cursor: pointer;
}
/* Icon */
[data-nestable-action='toggle']:after {
  content: "\f147";
  font-family: FontAwesome;
}
/*
 * Show if nested
 */
.uk-parent > .uk-nestable-item [data-nestable-action='toggle'] {
  visibility: visible;
}
/*
 * Collapsed
 */
.uk-collapsed > .uk-nestable-item [data-nestable-action='toggle']:after {
  content: "\f196";
}
.uk-collapsed .uk-nestable-list {
  display: none;
}
/* ========================================================================
   Component: Notify
 ========================================================================== */
/*
 * Message container for positioning
 */
.uk-notify {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1040;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 340px;
}
/* Position modifiers
========================================================================== */
.uk-notify-top-right,
.uk-notify-bottom-right {
  left: auto;
  right: 20px;
}
.uk-notify-top-center,
.uk-notify-bottom-center {
  left: 50%;
  margin-left: -175px;
}
.uk-notify-bottom-left,
.uk-notify-bottom-right,
.uk-notify-bottom-center {
  top: auto;
  bottom: 10px;
}
/* Responsiveness
========================================================================== */
/* Phones portrait and smaller */
@media (max-width: 479px) {
  /*
     * Fit in small screen
     */
  .uk-notify {
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
}
/* Sub-object: `uk-notify-message`
========================================================================== */
.uk-notify-message {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    background: #444444;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    border: 1px solid #444444;
    border-radius: 4px;
}
/* Close in notify
 ========================================================================== */
.uk-notify-message > .uk-close {
    visibility: hidden;
    float: right;
    margin: 0;
}
.uk-notify-message:hover > .uk-close {
  visibility: visible;
}
.uk-notify-message .uk-notify-text:before { font-family: 'FontAwesome'; font-size: 16px; padding-right: 5px; }
/* Modifier: `uk-alert-info`
 ========================================================================== */
.uk-notify-message-info {
    background: #ebf7fd;
    color: #2d7091;
    border-color: rgba(45, 112, 145, 0.3);
}
    .uk-notify-message-info .uk-notify-text:before {
        content: "\f05a";
    }
/* Modifier: `uk-alert-success`
 ========================================================================== */
.uk-notify-message-success {
    background: #E6F7C5;
    color: #659f13;
    border-color: rgba(101, 159, 19, 0.3);
}
    .uk-notify-message-success .uk-notify-text:before {
        content: "\f00c";
    }
/* Modifier: `uk-notify-message-warning`
 ========================================================================== */
.uk-notify-message-warning {
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226, 131, 39, 0.3);
}
    .uk-notify-message-warning .uk-notify-text:before {
        content: "\f071";
    }
/* Modifier: `uk-notify-message-danger`
 ========================================================================== */
.uk-notify-message-danger {
    background: #FFDFDD;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3);
}
    .uk-notify-message-danger .uk-notify-text:before {
        content: "\f057";
    }
/* ========================================================================
   Component: Search
 ========================================================================== */
/*
 * 1. Create position context for dropdowns
 * 2. Needed for `form` element
 */
.uk-search {
  display: inline-block;
  /* 1 */
  position: relative;
  /* 2 */
  margin: 0;
}
/*
 * Icon
 */
.uk-search:before {
  content: "\f002";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-family: FontAwesome;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}
/* Sub-object `uk-search-field`
 ========================================================================== */
/*
 * 1. Needed to reset iOS `input[type="search"]` appearance
 */
.uk-search-field {
  width: 120px;
  height: 30px;
  padding: 0 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: #444444;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  /* 1 */
  border-radius: 0;
}
/*
 * Needed to reset iOS `input[type="search"]` appearance
 * Higher specificity to override appearance set by normalize.less
 */
input.uk-search-field {
  -webkit-appearance: none;
}
/* Placeholder */
.uk-search-field:-ms-input-placeholder {
  color: #999999;
}
.uk-search-field::-moz-placeholder {
  color: #999999;
}
.uk-search-field::-webkit-input-placeholder {
  color: #999999;
}
/* Removes cancel button in IE10 */
.uk-search-field::-ms-clear {
  display: none;
}
/* Focus */
.uk-search-field:focus {
  outline: 0;
}
/* Focus + active */
.uk-search-field:focus,
.uk-search.uk-active .uk-search-field {
  width: 180px;
}
/* Dropdown modifier: `uk-dropdown-search`
 ========================================================================== */
.uk-dropdown-search {
  width: 300px;
  margin-top: 0;
  background: #ffffff;
  color: #444444;
}
.uk-open > .uk-dropdown-search {
  -webkit-animation: uk-slide-top-fixed 0.2s ease-in-out;
  animation: uk-slide-top-fixed 0.2s ease-in-out;
}
/*
 * Dependency `uk-navbar-flip`
 */
.uk-navbar-flip .uk-dropdown-search {
  margin-top: 12px;
  margin-right: -16px;
}
/* Nav modifier `uk-nav-search`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-search > li > a {
  color: #444444;
}
/*
 * Active
 * 1. Remove default focus style
 */
.uk-nav-search > li.uk-active > a {
  background: #009dd8;
  color: #ffffff;
  /* 1 */
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-search .uk-nav-header {
  color: #999999;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-search .uk-nav-divider {
  border-top: 1px solid #dddddd;
}
/*
 * Nested items
 */
.uk-nav-search ul a {
  color: #0077dd;
}
.uk-nav-search ul a:hover {
  color: #005599;
}
/* Search in offcanvas
 ========================================================================== */
.uk-offcanvas .uk-search {
  display: block;
  margin: 20px 15px;
}
.uk-offcanvas .uk-search:before {
  color: #777777;
}
.uk-offcanvas .uk-search-field {
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  background: #1a1a1a;
  color: #cccccc;
}
.uk-offcanvas .uk-search-field:-ms-input-placeholder {
  color: #777777;
}
.uk-offcanvas .uk-search-field::-moz-placeholder {
  color: #777777;
}
.uk-offcanvas .uk-search-field::-webkit-input-placeholder {
  color: #777777;
}
/* ========================================================================
   Component: Sortable
 ========================================================================== */
.uk-sortable {
  position: relative;
}
/*
 * 1. Makes text unselectable
 * 2. Deactivate browser touch actions in IE11
 */
.uk-sortable > * {
  /* 1 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 2 */
  touch-action: none;
}
/*
 * Prevents images and links from being dragged (default browser behavior)
 * Currently only works in Webkit
 */
.uk-sortable > * * {
  -webkit-user-drag: none;
  user-drag: none;
}
/* Sub-modifier `uk-sortable-dragged`
 ========================================================================== */
.uk-sortable-dragged {
  position: absolute;
  z-index: 1050;
  pointer-events: none;
}
/* Sub-modifier `uk-sortable-placeholder`
 ========================================================================== */
.uk-sortable-placeholder {
  opacity: 0;
}
/* Sub-modifier `uk-sortable-over`
 * Only if `warp:true`
 ========================================================================== */
.uk-sortable-over {
  opacity: 0.3;
}
/* Sub-object `uk-nestable-moving`
 ========================================================================== */
.uk-sortable-moving,
.uk-sortable-moving * {
  cursor: move;
}
/* ========================================================================
   Component: Sticky
 ========================================================================== */
/*
 * 1. More robust if padding and border are used
 */
[data-uk-sticky].uk-active {
  z-index: 980;
  /* 1 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Faster animations
 */
[data-uk-sticky][class*='uk-animation-'] {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
[data-uk-sticky].uk-animation-reverse {
  -webkit-animation-duration: 0.04s;
  animation-duration: 0.04s;
}

/* ========================================================================
   Component: Upload
 ========================================================================== */
/*
 * Create a box-shadow when dragging a file over the upload area
 */
.uk-dragover {
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.3);
}

/* ========================================================================
   Component: Flex
 ========================================================================== */
.uk-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.uk-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
/*
 * Fixes initial flex-shrink value in IE10
 */
.uk-flex > *,
.uk-flex-inline > * {
  -ms-flex-negative: 1;
}
/* Alignment
 ========================================================================== */
/*
 * Vertical alignment
 * Default value is `stretch`
 */
.uk-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.uk-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.uk-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/*
 * Horizontal alignment
 * Default value is `flex-start`
 */
.uk-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.uk-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.uk-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.uk-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* Direction
 ========================================================================== */
.uk-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.uk-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.uk-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* Wrap
 ========================================================================== */
.uk-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.uk-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
/*
 * Horizontal alignment
 * Default value is `stretch`
 */
.uk-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.uk-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.uk-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.uk-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.uk-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}
/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.uk-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.uk-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  .uk-flex-order-first-small {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .uk-flex-order-last-small {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-flex-order-first-medium {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .uk-flex-order-last-medium {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-flex-order-first-large {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .uk-flex-order-last-large {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-flex-order-first-xlarge {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .uk-flex-order-last-xlarge {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.uk-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}
/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 * 1. Fixes flex-shrink value in IE10
 */
.uk-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  /* 1 */
  -ms-flex-negative: 1;
}
/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.uk-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
/* ========================================================================
   Component: Cover
 ========================================================================== */
/*
 * Background image always covers and centers its element
 */
.uk-cover-background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
/*
 * Emulates image cover, works with video and image elements
 * 1. Parent container which clips resized object
 * 2. Resizes the object to always covers its container
 * 3. Reset the responsive image CSS
 * 4. Center object
 */
/* 1 */
.uk-cover {
  overflow: hidden;
}
.uk-cover-object {
  /* 2 */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  /* 3 */
  max-width: none;
  /* 4 */
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*
 * To center iframes use `data-uk-cover` JavaScript
 */
[data-uk-cover] {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ========================================================================
   Component: Accordion
 ========================================================================== */
/* Sub-object: `uk-accordion-title`
 ========================================================================== */
.uk-accordion-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px 15px;
    background: #f1f1f1;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 3px;
}
.uk-accordion-title.uk-active:before {
    font-family: FontAwesome;
    content: "\f107";
    padding-right: 8px;
}
.uk-accordion-title:before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: 8px;
    display: inline-block;
    width: 10px;
}
/* Sub-object: `uk-accordion-content`
 ========================================================================== */
.uk-accordion-content {
  padding: 0 15px 15px 15px;
}
/*
 * Micro clearfix to make panels more robust
 */
.uk-accordion-content:before,
.uk-accordion-content:after {
  content: "";
  display: table;
}
.uk-accordion-content:after {
  clear: both;
}
/*
 * Remove margin from the last-child
 */
.uk-accordion-content > :last-child {
  margin-bottom: 0;
}

/* ========================================================================
   Component: Caption
 ========================================================================== */
 
/*
 * 1. Hide by default
 * 2. Position cover
 * 3. Style
 */
.uk-caption {
  /* 1 */
  display: none;
  /* 2 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* 3 */
  padding: 20px;
  color: #ffffff;
}
/*
 * Show caption
 * 1. `uk-hover` to support touch devices
 */
.uk-caption-toggle:hover .uk-caption,
.uk-caption-toggle.uk-hover .uk-caption,
.uk-active > .uk-caption {
  display: block;
}
.uk-caption-toggle:hover .uk-caption.uk-flex,
.uk-caption-toggle.uk-hover .uk-caption.uk-flex,
.uk-active > .uk-caption.uk-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/*
 * Remove margin from the last-child
 */
.uk-caption > :last-child {
  margin-bottom: 0;
}
/*
 * Keep color for headings if the default heading color is changed
 */
.uk-caption h1,
.uk-caption h2,
.uk-caption h3,
.uk-caption h4,
.uk-caption h5,
.uk-caption h6 {
  color: inherit;
}
/* Sub-object: `uk-caption-toggle`
 ========================================================================== */
/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Set max-width for responsive images to prevent `inline-block` consequences
 * 4. Remove the gap between the container and its child element
 * 5. Fixed wrong scaling calculation for images in Chrome
 */
.uk-caption-toggle {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
  /* 5 */
  overflow: hidden;
}
/* Position modifiers
 ========================================================================== */
.uk-caption-top {
  bottom: auto;
}
.uk-caption-bottom {
  top: auto;
}
.uk-caption-left {
  right: auto;
}
.uk-caption-right {
  left: auto;
}
/* Sub-object: `uk-caption-panel`
 ========================================================================== */
.uk-caption-panel {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
}

/* ========================================================================
   Component: Slideshow
 ========================================================================== */
 
/*
 * 1. Create position context
 * 2. Create stacking context to prevent z-index issues with other components
 * 3. Set width because child elements are positioned absolute. Height is set via JS
 * 4. Reset list style
 * 5. Clip child elements
 * 6. Deactivate browser history navigation in IE11
 */
.uk-slideshow {
  /* 1 */
  position: relative;
  /* 2 */
  z-index: 0;
  /* 3 */
  width: 100%;
  /* 4 */
  margin: 0;
  padding: 0;
  list-style: none;
  /* 5 */
  overflow: hidden;
  /* 6 */
  touch-action: pan-y;
}
/*
 * Sub-object slides
 * 1. Position items above each other
 * 2. Expand to parent container width
 * 3. Hide by default
 */
.uk-slideshow > li {
  /* 1 */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  opacity: 0;
}
/*
 * Active
 * 1. Stack at first
 * 2. Show slide
 */
.uk-slideshow > .uk-active {
  /* 1 */
  z-index: 10;
  /* 2 */
  opacity: 1;
}
/*
 * Hide default images which is only relevant to keep existing proportions
 */
.uk-slideshow > li > img {
  visibility: hidden;
}
/*
 * Pointer for controls
 */
[data-uk-slideshow-slide] {
  cursor: pointer;
}
/* Modifier: `uk-slideshow-fullscreen`
 ========================================================================== */
.uk-slideshow-fullscreen,
.uk-slideshow-fullscreen > li {
  height: 100vh;
}
/* Animations
 ========================================================================== */
/*
 * Fade
 */
.uk-slideshow-fade-out {
  -webkit-animation: uk-fade 0.5s linear reverse;
  animation: uk-fade 0.5s linear reverse;
}
/*
 * Scroll
 */
.uk-slideshow-scroll-forward-in {
  -webkit-animation: uk-slide-right 0.5s ease-in-out;
  animation: uk-slide-right 0.5s ease-in-out;
}
.uk-slideshow-scroll-forward-out {
  -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse;
}
.uk-slideshow-scroll-backward-in {
  -webkit-animation: uk-slide-left 0.5s ease-in-out;
  animation: uk-slide-left 0.5s ease-in-out;
}
.uk-slideshow-scroll-backward-out {
  -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse;
}
/*
 * Scale
 */
.uk-slideshow-scale-out {
  -webkit-animation: uk-fade-scale-15 0.5s ease-in-out reverse;
  animation: uk-fade-scale-15 0.5s ease-in-out reverse;
}
/*
 * Swipe
 */
.uk-slideshow-swipe-forward-in {
  -webkit-animation: uk-slide-left-33 0.5s ease-in-out;
  animation: uk-slide-left-33 0.5s ease-in-out;
}
.uk-slideshow-swipe-forward-out {
  -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse;
}
.uk-slideshow-swipe-backward-in {
  -webkit-animation: uk-slide-right-33 0.5s ease-in-out;
  animation: uk-slide-right-33 0.5s ease-in-out;
}
.uk-slideshow-swipe-backward-out {
  -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse;
}
.uk-slideshow-swipe-forward-in:before,
.uk-slideshow-swipe-backward-in:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-animation: uk-fade 0.5s ease-in-out reverse;
  animation: uk-fade 0.5s ease-in-out reverse;
}

/*! UIkit 2.19.0 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Slidenav
 ========================================================================== */
/*
 * 1. Required for `a` elements
 * 2. Dimension
 * 3. Style
 */
.uk-slidenav {
    /* 1 */
    display: inline-block;
    /* 2 */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 30px;
    /* 3 */
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    text-align: center;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for `a` elements
 * 4. Style
 */
.uk-slidenav:hover,
.uk-slidenav:focus {
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
  /* 4 */
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
/* Active */
.uk-slidenav:active {
    x-color: rgba(50, 50, 50, 0.9);
}
/*
 * Icons
 */

.uk-slidenav-previous:before, 
.uk-slidenav-next:before {
    font-family: FontAwesome;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.uk-slidenav-previous:before {
    content: "\f104";
}
.uk-slidenav-next:before {
    content: "\f105";
}
/* Sub-object: `uk-slidenav-position`
 ========================================================================== */
/*
 * Create position context
 */
.uk-slidenav-position {
  position: relative;
}
/*
 * Center vertically
 */
.uk-slidenav-position .uk-slidenav {
    x-display: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -15px;
}
.uk-slidenav-position:hover .uk-slidenav {
  display: block;
}
.uk-slidenav-position .uk-slidenav-previous {
  left: 20px;
}
.uk-slidenav-position .uk-slidenav-next {
  right: 20px;
}
/* Modifier: `uk-slidenav-contrast`
 ========================================================================== */
.uk-slidenav-contrast {
    color: rgba(255, 255, 255, 0.5);
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 */
.uk-slidenav-contrast:hover,
.uk-slidenav-contrast:focus {
    color: rgba(255, 255, 255, 0.7);
}
/* Active */
.uk-slidenav-contrast:active {
    color: rgba(255, 255, 255, 0.9);
}

/*! UIkit 2.19.0 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Slider
 ========================================================================== */
/*
 * 1. Create position context
 * 2. Create stacking context to prevent z-index issues with other components
 * 3. Deactivate browser history navigation in IE11
 */
.uk-slider {
  /* 1 */
  position: relative;
  /* 2 */
  z-index: 0;
  /* 3 */
  touch-action: pan-y;
}
/*
 * 1. Reset list style without interfering with grid
 */
.uk-slider:not(.uk-grid) {
  /* 1 */
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Sub-object item
 * 1. Position items above each other
 */
.uk-slider > * {
  /* 1 */
  position: absolute;
  top: 0;
  left: 0;
}
/*
 * Clip child elements
 */
.uk-slider-container {
  overflow: hidden;
}
/*
 * Dragged
 */
.uk-slider:not(.uk-drag) {
  -webkit-transition: transform 200ms linear;
  transition: transform 200ms linear;
}
/*
 * 1. Makes text unselectable
 */
.uk-slider.uk-drag {
  cursor: col-resize;
  /* 1 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
 * 1. Prevents images and links from being dragged (default browser behavior)
 * 2. Disables the default callout shown when you touch and hold a touch target
 * Currently only works in Webkit
 */
.uk-slider a,
.uk-slider img {
  /* 1 */
  -webkit-user-drag: none;
  user-drag: none;
  /* 2 */
  -webkit-touch-callout: none;
}
/*
 * 1. Prevents images and links from being dragged in Firefox
 */
.uk-slider img {
  pointer-events: none;
}
/* Modifier: `uk-slider-fullscreen`
 ========================================================================== */
.uk-slider-fullscreen,
.uk-slider-fullscreen > li {
  height: 100vh;
}